<div class="roster farm">
    <mat-tab-group>
        <mat-tab label="Farm">
            <div *ngIf="(farmRoster | async) as farmPlayers">
                <ng-container *ngFor="let player of farmPlayers">
                    <fhm-roster-player-panel [playerDetail]="player"></fhm-roster-player-panel>
                </ng-container>
                <p *ngIf="!farmPlayers.length">No farm players found</p>
            </div>
        </mat-tab>
        <mat-tab label="Prospect">
            <div *ngIf="(prospectRoster | async) as prospects">
                <ul *ngIf="prospects.length">
                    <li *ngFor="let player of prospects">
                        {{player.name}}
                    </li>
                </ul>
                <p *ngIf="!prospects.length">No farm players found</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>